<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type = 'text/css' href='/stylesheets/style.css' />
    <style type = 'text/css'>
    	#title{
    		text-align: center;
    		margin: 0;
    	}

    	#sl_list{
    		font-size: 16px;
    	}
	</style>
  </head>
  <body>
  	<h1 id = 'title'><%= title %></h1>  	
  	<hr>
  	<section>
  		<h1 class = 'header'>About</h1>
  		<div class = 'sidelist'>
	  		<ul id = 'sl_list'>
	  			<li>About</li>
	  			<li>Projects</li>
	  		</ul>
  		</div>
  	</section>
  </body>
</html>
