body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{
    margin: 0;
    padding: 0;
}

.header{
	font-size: 30px;
	margin-top: 0;
}

hr{
	color: black;
}

.sidelist{
	border: 2px solid black;
	position: fixed;
	width: 12%;
	height: 30%;
	left: 10px;
}